<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th colspan="<%= @room_count %>">Monday</th>
        <th colspan="<%= @room_count %>">Tuesday</th>
        <th colspan="<%= @room_count %>">Wednesday</th>
        <th colspan="<%= @room_count %>">Thursday</th>
        <th colspan="<%= @room_count %>">Friday</th>
      </tr>
      <tr>
        <td>Room</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </thead>
    <tbody>
      <tr>
        <td>7:30</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
